<div class="items index">

  <div class="action new">
    <%= link_to new_item_path do %>
      Add New
      <%= image_tag('add.png') %>
    <% end %>
  </div>

  <br>

  <%=  form_for_filterrific @filterrific do |f| %>
      <div class="flex-form">
        <div class="flex-form-item">
          <label for="filterrific_search_query">Search</label>
          <%= f.text_field(:search_query, class: 'filterrific-periodically-observed') %>
        </div>
        <div class="flex-form-item">
          <label for="filterrific_sorted_by">Sorted by</label>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        </div>
        <div class="flex-form-item submit">
          <%= link_to('Reset filters', reset_filterrific_url) %>
          <%= render_filterrific_spinner %>
        </div>
      </div>
  <% end %>

  <%= render 'list', locals: {items: @items} %>

</div>