<div class="items new">

  <div class="action back">
    <%= link_to items_path do %>
      <%= image_tag('left-arrow.png') %>
      Return to List
    <% end %>
  </div>

  <br>

  <%= form_for @item do |f| %>
    <% readable_only = false %>
    <div class="flex-form">

      <%= render(:partial => 'form', :locals => {:f => f, :readable_only => readable_only}) %>

      <div class="flex-form-item submit fill-row">
        <%= f.submit("Create Inventory") %>
      </div>
    </div>
  <% end %>

</div>
