<!DOCTYPE html>

<html>
  <head>

    <title>TechTeam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="relative-container">

      <% flash.each do |type, content| %>
        <% if content.respond_to?('each')
             content.each do |item| %>
          <%= render 'layouts/alert', type: type, content: item %>
            <% end %>
        <% else %>
          <%= render 'layouts/alert', type: type, content: content %>
            <% end %>
      <% end %>


      <div class="header">
        <%= image_tag('cube.png', :size => '42x42') %>
        <h1>Inventory</h1>
      </div>

    </div>

    <%= yield %>

  </body>

  <footer>
    <div>
      Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a>
      from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
      <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
      CC 3.0 BY</a>
    </div>
  </footer>
</html>
